.intro {
  padding: 5px 10px;
  border-radius: 0.2rem;
  color: gray;
  background-color: white;
  border: 1px solid gray;
}
.intro:hover {
  color: white;
  background-color: black;
}

.registro {
  padding: 5px 10px;
  border-radius: 0.2rem;
  background-color: #22ce93;
  color: white;
  border: none;
}
.registro:hover {
  background-color: #1aeba2;
}

.btn-menu {
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 0.2rem;
  color: white;
  background-color: transparent;
}
.btn-menu:hover {
  background-color: white;
  color: black;
}

.deslizar {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.deslizar i {
  font-size: 1.5rem;
}
.deslizar:hover {
  background-color: white;
  color: black;
}

.empezar {
  padding: 5px 10px;
  border-radius: 0.2rem;
  border: 1px solid gray;
  color: black;
  background-color: transparent;
  font-size: 1rem;
}
.empezar:hover {
  background-color: #0075af;
  color: white;
}

.textos-conjuntos {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15rem;
}
.textos-conjuntos h5 {
  font-size: 1.5rem;
}
.textos-conjuntos p {
  font-size: 0.75rem;
  color: #717070;
}

html {
  min-width: 100vw;
}
html p::selection {
  background-color: #22ce93;
  color: white;
}
html h3::selection {
  background-color: #22ce93;
  color: white;
}
html button::selection {
  background-color: #22ce93;
  color: white;
}
html h1::selection {
  background-color: #22ce93;
  color: white;
}
html h5::selection {
  background-color: #22ce93;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

.navegador {
  position: fixed;
  z-index: 1;
  background-color: white;
  height: 6.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid rgba(128, 128, 128, 0.41);
}
.navegador .nav-uno {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navegador .nav-uno img {
  width: 4rem;
}
.navegador .nav-uno .nav-separador {
  margin: 1rem 0.25rem 0 0.25rem;
  height: 1.5rem;
  width: 1px;
  background-color: gray;
}
.navegador .nav-uno h6 {
  padding-top: 0.75rem;
  font-size: 1.5rem;
}
.navegador .nav-botones {
  margin-right: 2rem;
  gap: 2rem;
  display: flex;
}

.menu {
  height: 50rem;
  color: white;
  background-image: url(../Img/pAGE\ copia.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}
.menu .menu-features {
  width: 100%;
  margin: auto;
  padding: 3rem;
  max-width: 992px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.menu .menu-features h1 {
  font-size: 5rem;
}
.menu .menu-features p {
  padding: 0 6rem;
  font-size: 1.5rem;
}
.menu .menu-features .btn-menu {
  display: flex;
}
.menu .menu-features .deslizar {
  margin: 5rem 30rem 0rem;
}

.vista-previa {
  width: 100%;
  margin: auto;
  padding: 3rem;
  max-width: 992px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.vista-previa .previa-features {
  width: 100%;
  margin: auto;
  padding: 3rem;
  max-width: 992px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.vista-previa .previa-img {
  width: 100%;
  margin: auto;
  padding: 3rem;
  max-width: 992px;
}
.vista-previa .previa-img img {
  max-width: 40rem;
}

.slider {
  width: 100%;
  margin: auto;
  padding: 3rem;
  max-width: 992px;
}
.slider h3 {
  text-align: center;
}
.slider .previa-galeria {
  display: grid;
  grid-template-columns: 50px max-content 50px;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.slider .previa-galeria .textos {
  display: grid;
  grid-template-columns: 1fr;
}
.slider .previa-galeria .textos .textos-conjuntos {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
.slider .previa-galeria .textos .textos-conjuntos--show {
  opacity: 1;
  pointer-events: unset;
}
.slider .previa-galeria .flechas {
  cursor: pointer;
  font-size: 2rem;
}
.slider .previa-galeria .flechas:nth-of-type(2) {
  justify-self: end;
}

.galeria {
  width: 100%;
  margin: auto;
  padding: 3rem;
  max-width: 992px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galeria .imagenes-galeria {
  display: flex;
  width: 37.5rem;
  height: 26.87rem;
}
.galeria .imagenes-galeria img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.galeria .imagenes-galeria img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.notacion {
  background-color: rgba(249, 234, 232, 0.988);
}
.notacion .notacion-1 {
  width: 100%;
  margin: auto;
  padding: 3rem;
  max-width: 992px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notacion .notacion-1 .contador {
  font-size: 0.9rem;
}
.notacion .notacion-1 .declaracion {
  font-size: 1.5rem;
  text-align: center;
  font-family: cursive;
}
.notacion .notacion-1 img {
  width: 20rem;
}
.notacion .notacion-1 .copy {
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  .navegador {
    height: 3rem;
    max-width: 100vw;
    background-color: white;
  }
  .navegador .nav-uno {
    margin-left: 1rem;
  }
  .navegador .nav-uno img {
    display: none;
  }
  .navegador .nav-uno h6 {
    font-size: 1.25rem;
  }
  .navegador .nav-botones .intro {
    display: none;
  }
  .navegador .nav-botones .registro {
    display: none;
  }
  .menu {
    height: 25rem;
    background-image: none;
    background-image: url(../Img/Page_2.png);
    background-size: 100%;
  }
  .menu .menu-features h1 {
    font-size: 1.5rem;
  }
  .menu .menu-features p {
    font-size: 0.7rem;
  }
  .menu .menu-features .deslizar {
    margin: 3rem 8rem 0rem;
  }
  .vista-previa {
    display: flex;
    flex-direction: column;
  }
  .vista-previa .previa-features {
    padding: 2rem;
    margin-bottom: 2rem;
  }
  .vista-previa .previa-img {
    padding: 2rem;
  }
  .vista-previa .previa-img img {
    max-width: 100%;
  }
  .previa-galeria .textos .part-text1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .previa-galeria .textos .part-text2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .galeria {
    display: flex;
    text-align: center;
  }
  .galeria .imagenes-galeria {
    padding: 0;
    height: 25rem;
    width: 20rem;
  }
  .galeria .imagenes-galeria img {
    padding: 0;
    height: 20rem;
    width: 0.5rem;
    margin-bottom: 1rem;
  }
  .galeria .imagenes-galeria img:hover {
    width: 10rem;
  }
  .notacion .notacion-1 .contador {
    font-size: 0.7rem;
    text-align: center;
  }
  .notacion .notacion-1 .declaracion {
    font-size: 1rem;
  }
  .notacion .notacion-1 .img {
    width: 5rem;
  }
  .notacion .notacion-1 .copy {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
