@mixin menu-text{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

@mixin secciones{
    width: 100%;
    margin: auto;
    padding: 3rem;
    max-width: 992px;
}


html{
    min-width: 100vw;
    p{
        &::selection{
            background-color: #22ce93;
            color:white;
        }
    }
    h3{
        &::selection{
            background-color: #22ce93;
            color:white;
        } 
    }
    button{
        &::selection{
            background-color: #22ce93;
            color:white;
        } 
    }
    h1{
        &::selection{
            background-color: #22ce93;
            color:white;
        } 
    }

    h5{
        &::selection{
            background-color: #22ce93;
            color:white;
        } 
    }
}

body{
    padding: 0;
    margin:0;
}

.navegador {
    
    position:fixed;
    z-index: 1;
    background-color: white;
    height: 6.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid rgba(128, 128, 128, 0.41);

    .nav-uno{
        margin-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        img{
            width: 4rem;
        }
    
        .nav-separador{
            margin: 1rem 0.25rem 0 0.25rem;
            height: 1.5rem;
            width: 1px;
            background-color: gray;
        }
    
        h6{
            padding-top: 0.75rem;
            font-size: 1.50rem;
        }
    }

    .nav-botones{
        margin-right: 2rem;
        gap: 2rem;
        display: flex;
    }
}

.menu{
    
    height: 50rem;
    color: white;
    background-image: url(../Img/pAGE\ copia.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    .menu-features{
        @include secciones();
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1{
            font-size:5rem ;
        }
        p{
            padding: 0 6rem;
            font-size:1.5rem ;
            
            
        }
        .btn-menu{
            display: flex;
        }

        .deslizar{
            margin: 5rem 30rem 0rem;
        }
    }
}

.vista-previa{
    @include secciones();
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    .previa-features{
        @include secciones();
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .previa-img{
            @include secciones();
        img{
            max-width: 40rem;
        }
    }

}


.slider{
    @include secciones();
    h3{
        text-align: center;
    }
    .previa-galeria {
        display: grid;
        grid-template-columns: 50px max-content 50px;
        align-items: center;
        justify-content: center;
        gap:1em;
        .textos{
            display: grid;
            grid-template-columns: 1fr;
            .textos-conjuntos{
                display: grid;
                grid-column: 2/3;
                grid-row: 1/2;
                opacity: 0 ;
                pointer-events: none;
                transition: opacity 1.5s;

                &--show{
                    opacity:1;
                    pointer-events: unset;
                }
            }
        }
        .flechas{
            cursor:pointer;
            font-size: 2rem;

            &:nth-of-type(2){
                justify-self: end;
            }
        }
    }
}


.galeria {
    @include secciones();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .imagenes-galeria{
        display: flex;
        width: 37.5rem;
        height: 26.87rem ;
        img{
            width: 0px;
            flex-grow: 1;
            object-fit: cover;
            opacity: .8;
            transition: .5s ease;
            &:hover{
                cursor: crosshair;
                width:300px;
                opacity:1;
                filter: contrast(120%);
            }
        }
    }
}

.notacion{
    background-color: rgba(249, 234, 232, 0.988);
    .notacion-1{
        @include secciones();
        display: flex;
        flex-direction: column;
        align-items: center;

        .contador{
            font-size: 0.9rem;
        }
        .declaracion{
            font-size: 1.5rem;
            text-align: center;
            font-family: cursive;
        }
        img{
            width: 20rem;
        }

        .copy{
            font-size: 0.75rem;
        }
    }
}



@media (max-width: 768px) {
    .navegador {
        height: 3rem;
        max-width: 100vw;
        background-color: white;
        .nav-uno {
            margin-left: 1rem;

            img {
                display: none;
            }

            h6 {
                font-size: 1.25rem;
            }
        }

        .nav-botones {
            .intro{
                display: none;
            }
            .registro{
                display : none;
            }
        }
    }
    
    .menu {
        height: 25rem;
        background-image: none;
        background-image: url(../Img/Page_2.png);
        background-size: 100%;

        
        .menu-features {
            h1 {
                font-size: 1.5rem;
            }
        
            p {
                font-size: 0.7rem;
            }
        
            .deslizar {
                margin: 3rem 8rem 0rem;
            }
        }
    }
        
    .vista-previa {
        display: flex;
        flex-direction: column;
        .previa-features {
            padding: 2rem;
            margin-bottom: 2rem;
        }
        
        .previa-img {
            padding: 2rem;
            img {
                max-width: 100%;
            }
        }
    }
        
    .previa-galeria {
        .textos {
            .part-text1 {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 1rem;
            }
        
            .part-text2 {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 1rem;
            }
        }
    }

    .galeria {
        display: flex;
        text-align: center;
        .imagenes-galeria {
            padding: 0;
            height: 25rem;
            width: 20rem;
            img {
                padding: 0;
                height: 20rem;
                width: 0.5rem;
                margin-bottom: 1rem;
                &:hover{
                    width: 10rem;
                }
            }
        }
    }

    .notacion{
        .notacion-1{
            .contador{
                font-size: 0.7rem;
                text-align: center;
            }

            .declaracion{
                font-size: 1rem;
            }
            .img{
                width: 5rem;
            }
            .copy{
                font-size: 0.5rem;
            }
        }
    }
}


